# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.log
snake_project/snake_project.runs/
snake_project/snake_project.srcs/sim_1
*.wdf
*.wdf
*.wpc
*.xml
*.rst
*.log
*.pb
*.js
*.sh
*.rpx
*.rpt
*.dcp
*.bin
*.bit
*.vdi
*.jou
*.vds
snake_project/snake_project.runs
snake_project/snake_project.hw
snake_project/snake_project.cache
*.html
